body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: rgb(63, 56, 56);
}
#root {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Table {
  width: 100%;
  border-spacing: 20px;
  border: 1px solid #6c7ac9;
  border-radius: 5px;
  margin-top: 20px;
}
td, th {
  text-align: center;
}
.imageTd {
  width: 50%;
  height: 30%;
}
img {
  width: 50%;
  height: 30%;
  border-radius: 5px;
}
.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 10px;
  padding: 0;
}
.pagination a {
  cursor: default;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #6c7ac9;
  color: #6c7ac9;
  margin-left: 10px;
}
 
.pagination li:not(.disabled) a:hover {
  background-color: bisque;
  cursor: pointer;
}
 
.pagination li a {
  font-weight: lighter;
}
 
.pagination li.active a {
  color: #fff;
  background: #6c7ac9;
}
 
.pagination li.disabled a {
  pointer-events: none;
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}
 